<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
    <title>メニュー一覧</title>
	
</head>
<body>
    <h1>メニュー一覧</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>メニュー名</th>
            <th>価格</th>
        </tr>
        <tr th:each="item : ${menuItems}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
        </tr>
    </table>
	<h2>メニュー追加</h2>
	<form action="/menu/add" method="post" th:object="${menuItem}">
		メニュー名 <input type="text" name="name" required><br>
		<span th:if="${duplicate}" style="color:red;">そのメニュー名は既に存在します。</span>
		価格 <input type="text" name="price" required><br>
		<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red;"></span>
		<input type="submit" value="追加">
	</form>
	<br><a href="/order">オーダー画面へ</a>
</body>
</html>