<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
    <title>注文一覧</title>
</head>
<body>
    <h1>注文一覧</h1>
    <table border="1">
        <tr>
            <th>番号</th>
            <th>メニュー名</th>
            <th>価格</th>
			<th>数量</th> <!-- 追加-->
            <th>ステータス</th>
        </tr>
        <tr th:each="order, iterStat : ${orders}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${order.menuName}"></td>
            <td th:text="${order.price}"></td>
			<td th:text="${order.quantity}"></td>
            <td th:text="${order.status}"
				 th:style="${order.status == '調理中'} ? 'background-color: pink;' : (${order.status == '完了'} ? 'background-color: lightgreen;' : '')"> 
			</td>
			<td>
				<form th:action="@{/order/status/{id}(id=${order.id})}" method="post">
					<input type="hidden" name="status" value="調理中">
					<input type="submit" value="調理中へ">
				</form>	
				<form th:action="@{/order/status/{id}(id=${order.id})}" method="post">
					<input type="hidden" name="status" value="完了">
					<input type="submit" value="完了へ">
				</form>
			</td>
        </tr>
    </table>

    <h2>注文追加</h2>
    <form action="/order/add" method="post">
        <select name="menuName">
            <option th:each="item : ${menuItems}"
                    th:value="${item.name}"
                    th:text="${item.name} + ' (' + ${item.price} + '円)'">
            </option>
        </select><br>
		
		<!--ここに数量機能を追加-->
		<label>数量</label>
		<input type="number" name="quantity" value="1" min="1" required><br>
	
        
        <input type="submit" value="注文する">
    </form>
	<form action="/order/deleteAll" method="post" onsubmit="return confirm('注文一覧をすべて削除してよろしいですか？')">
		<input type="submit" value="一括削除">
	</form>
	
    <br><a href="/menu">メニュー管理へ</a>
</body>
</html>